<div>
  <sly-field
    title="Steps to perform"
    description="Select which steps should be done"
  >
    <div>
      <el-select v-model="modalState.selectOption" placeholder="Select Option">
        <el-option key="tags" label="Group by Image Tags" value="tags"></el-option>
        <el-option key="obj" label="Group by Object of Class" value="obj"></el-option>
      </el-select>
    </div>

    <div>
      <sly-field
        title="Batch size"
        description="Select the batch size for grouping images"
      >
      <el-slider v-model="modalState.sliderValue" :min="0" :max="100" :step="1"></el-slider>
    </div>
  </sly-field>
  </div>
</div>